.button {
  padding: 10px 30px;
  background-color: #ffffff;
  color: #1f5e7a;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}

/* Hover effect */
.button:hover {
  background-color: #1f5e7a;
  border: 2px solid #ccc;
  color: #ffffff;
}

/* ✅ Media query for smaller screens */
@media (max-width: 600px) {
  .button {
    padding: 6px 30px;
    font-size: 1rem;
  }
}
