.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.button {
  position: absolute;
  padding: 8px 20px;
  background-color: #ffffff;
  color: #1f5e7a;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  align-items: center;
  justify-content: space-between;
  display: flex;
  left: 42%;
  top: 42%;
}

.button:hover {
  background-color: #ffffff;
}
