.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.button {
  position: absolute;
  padding: 10px 20px;
  background-color: #1dd88d;
  color: white;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 400px;
  margin-left: 150px;
}

.button:hover {
  background-color: #1e40af;
}
