.stationCard {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 10px 16px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

.stationCard:hover {
  border-color: #22167a;
}

.stationCard a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.station {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stationName {
  margin-right: 10px;
}

.stationDistance {
  display: inline-block;
  color: #22577a;
  font-size: 14px;
  font-weight: bold;
}
