body {
  background-color: #1f5e7a;
}
.wrapper {
  text-align: center;
  padding: 40px 0;
}

.logo {
  width: 150px; /* Adjust to your needs */
  margin-top: 50%;
}

.startButton {
  display: inline-block;
}
