.wrapper {
  text-align: center;
  padding: 40px 0;
  background-color: #1f5e7a;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 40vw;
  max-width: 200px;
  height: auto;
  margin-top: 20px;
  margin-right: 15px;
}

.startButton {
  display: inline-block;
  margin-top: 150px;
}
