.wrapper {
  text-align: center;
  background-color: #1f5e7a;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.logo {
  display: block;
  width: 40vw;
  max-width: 200px;
  height: auto;
}

.startButton {
  display: inline-block;
  text-align: center;
  margin-top: 24px;
}
