/* Station card styles */
.stationCard {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  margin: 10px 16px; /* This adds space on left and right */
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

.stationCard:hover {
  border-color: #22167a;
}

.stationCard a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stationName {
  margin-right: 10px;
}

.stationDistance {
  display: inline-block;
  padding: 4px 8px;
  background-color: #22577a;
  color: white;
  border-radius: 12px;
  font-size: 0.9rem;
  font-weight: bold;
}

/* Search input */
.searchInput {
  max-width: 200px;
  font-size: 12px;
  padding: 6px;
  margin: 16px;
  border-radius: 8px;
  border: 2px solid #ccc;
  box-sizing: border-box;
}

/* Bar above the search input */
.bar {
  width: 100%;
  height: 44px; /* Adjust the height of the bar */
  background-color: #22577a; /* Choose your desired color */
}

/* Bar container for bikes and slots */
.barContainer {
  margin-top: 10px;
  width: 100%;
  background-color: #e0e0e0; /* Light grey background */
  border-radius: 5px;
  margin-bottom: 12px; /* Add spacing below the bars */
}

/* Style for the bike bar */
.bikeBar {
  height: 10px; /* Set the height of the bike bar */
  background-color: #4caf50; /* Green color */
  border-radius: 5px;
  color: white;
  text-align: center;
  line-height: 10px; /* Vertically center the text */
  padding-left: 8px; /* Optional: add padding to separate the text from the bar edge */
}

/* Style for the slot bar */
.slotBar {
  height: 10px; /* Set the height of the slot bar */
  background-color: #2196f3; /* Blue color */
  border-radius: 5px;
  color: white;
  text-align: center;
  line-height: 10px; /* Vertically center the text */
  padding-left: 8px; /* Optional: add padding to separate the text from the bar edge */
}
