.stationPage {
  padding: 20px;
  font-family: sans-serif;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.title {
  font-size: 30px;
  margin-bottom: 1rem;
  color: #22577a;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.number {
  font-weight: 700;
  color: #22577a;
}

.labelWrapper {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 20px;
  flex-direction: row; /* ALWAYS side-by-side */
}

.labelLine,
.labelSlots {
  flex: 1 1 0;
  border-radius: 8px;
  border: 2px solid #ccc;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 200;
  padding: 6px;
  background: #f9f9f9;
  text-align: center;
  min-width: 0; /* prevents overflow */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dotsWrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  justify-content: center;
}

.dot {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.filled {
  background-color: #22577a;
}

.empty {
  border: 2px solid #22577a;
  background-color: transparent;
}

.icon {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 20px;
  height: 25px;
  transform: rotate(180deg);
}

@media (max-width: 600px) {
  .title {
    font-size: 1.5rem;
  }

  .labelWrapper {
    flex-direction: row;
    gap: 10px;
  }

  .labelLine,
  .labelSlots {
    font-size: 14px;
    padding: 6px;
  }

  .dot {
    width: 20px;
    height: 20px;
  }

  .dotsWrapper {
    gap: 8px;
    margin-top: 10%;
  }
}
